@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

$fuentes: (
	tipo: flex,
	orientacion: row,
	justificado: center,
	
);


.letraTit{
	display: map-get($fuentes, tipo);
	flex-direction: map-get($fuentes, orientacion);
	justify-content: map-get($fuentes, justificado);
	color: black;
	font-family: 'Cinzel', serif;
	text-decoration: underline;
}
.letraTit2{
	display: map-get($fuentes, tipo);
	flex-direction: map-get($fuentes, orientacion);
	justify-content: map-get($fuentes, justificado);
	@extend .letraTit2;
	color: white;
}
.textoMedio{
 	font-family: 'Oleo Script Swash Caps', cursive;
 	text-align: map-get($fuentes, justificado);
}
.textoMedio2{
	font-family: 'Oleo Script Swash Caps', cursive;
 	text-align: map-get($fuentes, justificado);
 	color: white;
}

span{
	color: red;
}