.centrar{
 	display: map-get($fuentes, tipo);
	flex-direction: map-get($fuentes, orientacion);
	justify-content: map-get($fuentes, justificado);
 	text-align: map-get($fuentes, justificado);;
 }
 .logoInstagram{
	cursor: pointer;
	padding: 2rem;
	transition: all 1s;
}
.logoInstagram:hover{
	transform: translateY(-10px);
}