.bgColor{
	background-color: lightgreen;
}
header {
	li{
	font-size: 1rem;
	font-family: 'Cinzel', serif;
	padding-left: 2rem;
	padding-right: 2rem;
		a{
		text-decoration: none;
		}
 	}
 }
.reducir{
	transform: scale(0.7,0.7);
}