@mixin fondoGeneral {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.index--fondo{
	background-image: url("../assets/img/psico-fondo.png");
	@include fondoGeneral;
}
.fondoContacto{
	background-image: url("../assets/img/fondo-contacto.png");
	@include fondoGeneral;}

.fondoLeyes{
	background-image: url("../assets/img/fondo-leyes.png");
	@include fondoGeneral;
	background-color: grey;}

.fondoMateriales{
	background-image: url("../assets/img/fondo-materiales.png");
	@include fondoGeneral;}

.fondoNosotros{
	background-image: url("../assets/img/fondo-nosotros.jpg");
	@include fondoGeneral;}

