.fondoContacto{
	background-image: url("../assets/img/fondo-contacto.jpg");
.fondoLeyes{
	background-image: url("../assets/img/fondo-leyes.jpg");
.fondoMateriales{
	background-image: url("../assets/img/fondo-materiales.jpg");
.fondoNosotros{
	background-image: url("../assets/img/fondo-nosotros.jpg");}